<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{50.721203,-2.056414}</string>
	<key>overlayTopLeftCoord</key>
	<string>{50.729337,-2.067943}</string>
	<key>overlayTopRightCoord</key>
	<string>{50.729816,-2.04468}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{50.718775,-2.067339}</string>
</dict>
</plist>
